<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.vtest.it.springclouduserservice.dao.auth.RoleDao">
    <resultMap id="roleMap" type="common.domain.Role">
        <id property="id" column="id"/>
        <result property="name" column="name"/>
        <result property="description" column="description"/>
    </resultMap>
    <select id="getAllRolesByUserId" resultMap="roleMap">
        select id, name,description from vtauth.role where id in (select distinct roles_id from vtauth.user_roles where user_id =#{id})
    </select>
    <insert id="addNewRole">
        insert into vtauth.role(name, description) value (#{roleName},#{description});
    </insert>
    <delete id="removeRole">
        delete from vtauth.role where name =#{roleName}
    </delete>
    <select id="getRole" resultMap="roleMap">
        select id, name, description from vtauth.role where name=#{roleName}
    </select>
    <select id="getAllRoles" resultMap="roleMap">
         select id, name, description from vtauth.role
    </select>
</mapper>