<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.vtest.it.springclouduserservice.dao.auth.UserDao">
    <resultMap id="userMap" type="common.domain.User">
        <id property="id" column="id"/>
        <result property="username" column="username"/>
        <result property="password" column="password"/>
        <result property="email" column="email"/>
        <result property="phone" column="phone"/>
        <result property="team" column="team"/>
        <collection property="roles" column="id"
                    select="com.vtest.it.springclouduserservice.dao.auth.RoleDao.getAllRolesByUserId"/>
    </resultMap>
    <select id="getUser" resultMap="userMap">
        select id, username, password, email, phone, team from vtauth.user where username =#{username};
    </select>
    <select id="getAllUser" resultMap="userMap">
        select id, username, password, email, phone, team from vtauth.user;
    </select>
    <delete id="removeUser">
        delete from vtauth.user where username = #{username}
    </delete>
    <update id="updateUser">
        update vtauth.user set username = #{username},password=#{password},email=#{email},phone=#{phone},team=#{team} where id=#{id}
    </update>
    <insert id="register">
        insert into vtauth.user(username, password, email, phone, team) value (#{username},#{password},#{email},#{phone},#{team})
    </insert>
</mapper>